h1 {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}

.sliding-background {
  z-index: -1;
  position: absolute;
  top: 0;
  background: url(./background.jpg) repeat;
  height: 5076px;
  width: 5076px;
  animation: slide 60s linear infinite;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, -1692px, 0);
  }
}

#messageForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: aliceblue;
  gap: 20px;
}

button {
  background-color: black;
  color: white;
}

@media (max-width: 450px) {
  #messageForm {
    width: 100vw;
  }
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: larger;
}

input {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 0%;
  border: 0%;
}
input:focus {
  border: 15px red;
}
